#center {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  .calc-button {
    font-size: large;
    height: 40px;
    margin-bottom: 20px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--accent-bg);
    border-color: var(--accent-bg);
    border-radius: 6px;
    
    &:hover {
      box-shadow: var(--shadow);
    }
  }

  #card {
    min-width: 300px;
    max-width: 90%;
    margin-bottom: 20px;
    background-color: var(--accent-bg);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }

  #card__title {
    color: var(--text-h);
    font-weight: bold;
    padding: 10px 10px;
  }

  #card__data {
    display: flex;
    color: var(--code-bg);
  }

  #card__left {
    width: 50%;
    border-right: 1px solid var(--text);
  }

  #card__right {
    width: 50%;
    text-align: center;
  }

  #item {
    padding: 3px 0;
    background-color: var(--text-h);
  }
  #item:nth-child(even) {
    background: rgb(234, 235, 234);
  }

}

#footer {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#references {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 8px;
      width: 8px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}
